// fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

// variables
$color-success: rgb(82, 167, 133);
$font-family: 'Open Sans', sans-serif;

$button-radius: 20px;
$button-padding: 0.5em 1.6em;
$button-text-color: white;
$light-grey: rgb(214, 214, 214);

// MOBILE
body {
    font-family: $font-family;
}

header {
    width: 100vw;
    text-align: center;
    border-bottom: 4px solid $color-success;

    .container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;   

        .logo {
            width: 100%;
            
            img {
                width: 45%;
                vertical-align: top;
            }
        }
        
        ul {
            list-style: none;
            padding: 0;
            margin-top: 0.5em;
            margin-bottom: 1.2em;
            
            li {
                display: inline;
                
                a {
                    text-decoration: none;
                    color: black;
                    font-size: 0.8em;
                    padding: $button-padding;
                }
    
                a.active {
                    background: $color-success;
                    border-radius: $button-radius;
                    color: $button-text-color;
                }
            }
        }
    }
}

header.without-border-bottom {
    border: none;   
}

main {

    section#cover {
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;

        .left {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            background: rgb(8, 3, 27);
            padding: 0 2em;
            box-sizing: border-box;
            
            h2 {
                width: 100%;
                color: lightgray;
                margin: 0;
            }

            p {
                width: 100%;
                color: rgb(150, 150, 190);
                font-size: 0.7em;
                padding: 1em 0;
                margin: 0;
            }

            .button {
                width: 100%;

                a {
                    display: inline-block;
                    text-decoration: none;
                    color: black;
                    font-size: 0.8em;
                    padding: 0.5em 5em;
                }
    
                a.active {
                    background: $color-success;
                    border-radius: $button-radius;
                    color: $button-text-color;
                }
            }
        }

        .right {
            display: none;
        }
    }
    
    section#signUpSection {

        .container {
            width: 90%;
            margin: 0 auto;

            h1 {
                font-size: 1.5rem;
                color: $color-success;
            }

            .signUpForm {
                display: block;

                .notification {
                    padding: 1.2em;
                    background: rgb(245, 245, 245);
                    font-size: 0.9rem;
                    position: relative;
    
                    span {
                        position: absolute;
                        right: 7px;
                        top: 7px;
                        color: white;
                        background-color: rgb(189, 186, 186);
                        border-radius: 100%;
                        width: 1em;
                        line-height: 1em;
                        text-align: center;
                        font-size: 0.9rem;
                        padding: 0px 1px 2px 1px;
                        text-transform: lowercase;
                    }
                }

                .form-item {
                    margin-top: 1em;

                    label {
                        width: 100%;
                        display: block;
                        box-sizing: border-box;
                        margin-top: 0.2em;  
                    }

                    input {
                        margin-top: 0.6em;
                        width: 100%;
                        box-sizing: border-box;
                        padding: 0.5em 0.5em;
                        border: 1px solid $light-grey;
                        
                    }
                    input::placeholder {
                        color: $light-grey;
                    }

                    button {
                        float: right;
                        background: $color-success;
                        color: $button-text-color;
                        border-radius: $button-radius;
                        padding: $button-padding;
                        font-size: 0.8em;   
                        vertical-align: top;                  
                        border: 2px solid $color-success;
                    }   
                }
            }
        }
    }
}

@media only screen and (min-width: 760px) {
    body {
      
        header {

            .container {
                width: 98%;
                margin: 0 auto;
                flex-wrap: nowrap;
                justify-content: space-between;
                align-items: center;
                .logo {

                    width: 100px;
                    img {
                        width: 100%;
                    }
                }

                nav {

                    ul {
                        margin-top: 1em;
                        margin-bottom: 1em;
                    }
                }
            }
        }

        header.without-border-bottom {
            border: none;   
        }

        main {

            section#cover {
                height: 400px;
                display: flex;
                justify-content: center;
                align-items: center;
                //flex-wrap: nowrap;
                

                .left {
                    width: 50%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    
                    background: rgb(8, 3, 27);
                    padding: 0 2em;
                    box-sizing: border-box;
                    
                    h2 {
                        width: 100%;
                        color: lightgray;
                        margin: 0;
                    }

                    p {
                        width: 100%;
                        color: rgb(150, 150, 190);
                        font-size: 0.7em;
                        padding: 1em 0;
                        margin: 0;
                    }

                    .button {
                        width: 100%;

                        a {
                            display: inline-block;
                            text-decoration: none;
                            color: black;
                            font-size: 0.8em;
                            padding: 0.5em 5em;
                        }
            
                        a.active {
                            background: $color-success;
                            border-radius: $button-radius;
                            color: $button-text-color;
                        }
                    }
                }

                .right {
                    display: block;
                    width: 50%;
                    height: 100%;
                    background: chocolate;

                    img {
                        width: 100%;
                        height: 100%;
                        
                        object-fit: cover;
                        vertical-align: top;
                    }
                }
            }
            
            section#signUpSection {
                
                .container {
                    width: 70%;

                }
            }
        }
    }
  }